In [4]:
#pandas day 2

import numpy as np
import pandas as pd

In [8]:

salary = [60000,90000,30000,40000,60000,10000,55000,40000.02]
#salary = np.array(salary)
staff_name = np.array(['Abel','Tom','Sam','Juliana','Mark','Stev','Roslin','Gracie'])

#if one value is a float it will change all to a float

In [9]:
pd.Series(salary)

0    60000.00
1    90000.00
2    30000.00
3    40000.00
4    60000.00
5    10000.00
6    55000.00
7    40000.02
dtype: float64

In [10]:
staff_names_dic = {'Abel':60000,'Tom':90000,'Sam':30000}

In [14]:
pd.Series(staff_names_dic, index=[6000])

6000   NaN
dtype: float64

In [17]:
pd.Series(staff_names_dic, dtype='int16')

Abel    -5536
Tom     24464
Sam     30000
dtype: int16